name: Run linting and tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Lint, check formatting, and type check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"

      - name: Install the project
        run: uv sync --frozen --all-groups

      - name: Run linting (ruff)
        run: uv run ruff check --output-format=github

      - name: Check formatting (ruff)
        run: uv run ruff format --check

      - name: Run type checking (mypy)
        run: uv run mypy

  test:
    name: Run tests
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --frozen --all-groups

      - name: Run tests (pytest)
        run: uv run pytest
